*{
    margin: 0px;
    padding: 0px;
}
main{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
main .col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100vh;
}
main .col:first-child{
    flex: 2;
    background-image: url(../img/fondo.png);
    background-size: 100% 100%;
}