@media (max-width: 500px){
    header nav{
        width: 50px;
    }
    header #menumovil{
        display: block;
    }
    header #menuweb{
        display: none;
    }
    #about .col, #contacto .col{
        width: 100%;
    }
    #misproyectos .sitio{
        width: 100%;
    }
    #about, #contacto, #misproyectos{
        height: auto;
    }
    #main video{
     display: none;
    } 
    #main #overlay{
        background-color: url(../img/sitios.jpg);
    }  
    #pepe{
        width: 100%;
    }
    #form{
        width: 100%;
    } 
}
@media (max-width: 700px){

    }